.profile-avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    background-color: #fff !important;
    border-radius: 6px;
    flex-shrink: 0;
    box-shadow:  #fff !important;
}