<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-12 w-100">
            <div class="input-group" style="width: 50%;">
                <input type="search" class="form-control mr-2" placeholder="Search all projects">
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="card">
                <h5 class="card-header">
                    <div class="row w-100">
                        <div class="col-12 col-md-8 col-sm-12">
                            <div class="text-secondary mt-2 mb-2">
                                <span class="ml-0 mr-3">
                                    <span class="mr-2 f-12"> <i class="far fa-chart-bar"></i></span>
                                    <span class="f-12">0 Open</span>
                                </span>
                                <span class="ml-0 mr-3">
                                    <span class="mr-2 f-12 text-muted"><i class="fas fa-check"></i></span>
                                    <span class="f-12 text-muted">0 Closed</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-sm-12">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-md-end justify-content-sm-start">
                                    <div class="btn-group">
                                        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Sort
                                        </button>
                                        <div class="dropdown-menu">
                                            ...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </h5>
                <div class="card-body" style="height: 100px;
                line-height: 100px;
                text-align: center;">
                   <h4 >There are no projects matching your search.</h4>
                </div>
            </div>
        </div>
    </div>
</div>